In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:/Estiven/Datos/Proyectos/statistics-of-use-project/data/processed/web_usage_time_motorola.csv", 
                 delimiter=";",
                 parse_dates=['date'],
                 encoding='utf-8')
df

,date,chat.openai.com,tiktok.com,udea.edu.co,google.com,instagram.com
0,2022-10-28,0.0,0.78,0.82,1.85,0.00
1,2022-10-29,0.0,2.42,1.82,5.23,1.55
2,2022-10-30,0.0,1.38,0.72,3.47,0.00
3,2022-10-31,0.0,0.82,0.00,1.20,0.00
4,2022-11-01,0.0,2.30,0.00,4.60,0.00
...,...,...,...,...,...,...
223,2023-06-19,0.0,0.70,2.92,0.15,0.00
224,2023-06-20,0.0,0.00,4.40,1.90,0.00
225,2023-06-21,0.2,0.00,0.00,0.63,0.00
226,2023-06-22,0.0,0.00,0.00,0.08,0.00
227,2023-06-24,0.0,0.00,0.00,0.93,8.73

In [3]:
# Iterate over each column in the DataFrame
for col in df.columns:
    if col != 'date':
        df[col] = round(pd.to_timedelta(df[col]).dt.total_seconds() / 60, 2)
    else: pass

# Convert the DataFrame to duration data type
df

,date,chat.openai.com,tiktok.com,udea.edu.co,google.com,instagram.com
0,2022-10-28,0.0,0.0,0.0,0.0,0.0
1,2022-10-29,0.0,0.0,0.0,0.0,0.0
2,2022-10-30,0.0,0.0,0.0,0.0,0.0
3,2022-10-31,0.0,0.0,0.0,0.0,0.0
4,2022-11-01,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
223,2023-06-19,0.0,0.0,0.0,0.0,0.0
224,2023-06-20,0.0,0.0,0.0,0.0,0.0
225,2023-06-21,0.0,0.0,0.0,0.0,0.0
226,2023-06-22,0.0,0.0,0.0,0.0,0.0
227,2023-06-24,0.0,0.0,0.0,0.0,0.0

In [14]:
# df.to_csv('D:/Estiven/Datos/Proyectos/statistics-of-use-project/data/processed/web_usage_time_motorola.csv', index=False)